/**
 * Any CSS included here will be global. The classic template
 * will put your CSS here. You can also add your own CSS files.
 */

:root {
  --ifm-color-primary: #2e5090;
  --ifm-color-primary-dark: #1d3557;
  --ifm-color-primary-darker: #16293c;
  --ifm-color-primary-darkest: #0d1821;
  --ifm-color-primary-light: #3d5a99;
  --ifm-color-primary-lighter: #4463a3;
  --ifm-color-primary-lightest: #5a73b5;
  
  --ifm-color-success: #10b981;
  --ifm-color-info: #0ea5e9;
  --ifm-color-warning: #f59e0b;
  --ifm-color-danger: #ef4444;

  --ifm-heading-color: #1f2937;
}

[data-theme='dark'] {
  --ifm-heading-color: #f3f4f6;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(255, 255, 255, 0.1);
}
